.controls {
  display: flex;
  align-items: center;
  float: row;
  /* background-color: #000; */

}

.boxes {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.boxes div {
  margin-right: 10px;
}